body, html{
    background: #fffefe;
    height: 100vh;  

}

#navbarColor{
    background: #205ac67d;  

}
#imageSizing{
    height: 80%;
    width: 100%;
}

#container1{
    height: 80vh;

}

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}


/* button css */


#button:hover,#button12:hover, #button22:hover { 

    transform: scale(1.1); 
    
}

#button1:hover { 

    transform: scale(1.01); 
    
    }

.tooltip-inner {
    white-space:nowrap;
    max-width:none;
    text-align: left;
    }
    
#fnameerror, #lnameerror, #passworderror, #emailerror {
    color: #f62020;
}



